@font-face {
   font-family: 'ArbFONTS-ExpoArabic-Book';
   font-display: swap;
   src: url('file:///Users/abdo/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2022-06-03_232709/fonts/ArbFONTS-ExpoArabic-Book/font.ttf');
}
